@media (min-width: 1200px) and (max-width: 1440px) {
	.poket-header-top {
		padding: 10px 30px;
	}
	.poket_nav_area, .trp_nav_area .container-fluid, .transprent-menu .poket_nav_area .container-fluid {
		padding: 0 30px;
	}
	.witr_containers {
		width: 90%;
	}
	.witr_section_title_inner h1, .witr_section_title_inner h3 {
		font-size: 35px;
	}
	.witr_swiper_area .text-left .witr_slider_thumb {
		right: 60px;
	}
    .poket_menu > ul > li > a {
        margin-right: 15px;
    }
	.witr_sw_text_area {
		width:90%;
	}
	.skill_inner {
		padding: 20px 30px 70px 0px;
	}
	.witr_shape_item_inner {
		right: -370px;
	}
	.counter_inner {
		padding-right: 0;
		padding-left: 0;
	}
	.education_project_area .title_btn {
		margin-right: 50px;
	}
	.skill_area {
		padding: 120px 0 65px;
	}
	.education_blog_area .title_btn {
		margin-right: 50px;
	}
	.about_image_inner .single_image {
		padding-left: 0;
	}
	.about_image_inner .single_image img {
		padding-left: 0;
	}
	.choose_area {
		margin: -400px 15px 0;
	}
	.faq_area .single_image img {
		max-width: 100%;
	}
	.faq_area .single_image {
		right: 15px;
	}
	.video_content_inner {
		margin: 0px 15px 0 0;
		padding: 0 0 0 50px;
	}
	.education_about_area .single_image {
		right:0;
	}
	.about_image_inner .single_image_area img {
		margin-left: 0;
	}
	.choose_image_inner .single_image {
		left: 0px;
	}
	.education_choose_area .witr_shape_item_inner {
		top: 35px;
		left: -25px;
	}
	.feature2_img_inner img {
		padding-left: 30px;
		padding-right: 5px;
	}
	.feature2_content_inner .witr_section_title_inner h3 {
		font-size: 38px;
	}
	.ps2.ps1 .witr_single_pslide:hover .witr_content_pslide_text {
		top: -42px;
	}
	.all_pslides_color h3 a, .all_pslides_color h3 {
		font-size: 20px;
	}
	.ps2.ps1 .witr_content_pslide_text {
		left: 20px;
		right: 20px;
	}
	.ps1 .witr_pslide_btnb a {
		margin: 20px 0 0;
		padding: 8px 20px;
	}
	.counter_margin_left {
		margin-right: 150px !important;
	}
	.choose_content_inner {
		padding:0;
	}
	.testimonial_inner {
		margin:0;
	}
	.service_inner {
		margin-right: 20px;
		margin-left: 20px;
	}
	.witr_content_pslide_text, .witr_pslide5 .witr_single_pslide {
		padding: 25px 25px 20px;
	}
	.education_project_area .slick-prev, .education_project_area .slick-next {
		top: 415px;
	}
	.education_project_area .slick-prev {
		left: 520px;
	}
	.education_project_area .slick-next {
		right: 520px;
	}
	.education_testimonial_area .slick-next {
		right: 500px;
	}
	.education_testimonial_area .slick-prev {
		left: 500px;
	}
	.witr_taba_style1 .nav-tabs .nav-item {
		margin-bottom: 30px;
	}
	.text-left .witr_ds_content_inner p {
		width: 47%;
	}
	.education_process_area {
		margin: 0px 20px 0px 20px;
	}
	.apply_requirements_area {
		padding: 86px 20px 80px 20px;
	}
	.tab_content2_inner .sub-item.sub-item-8 {
		padding: 0px 15px 0px 15px;
	}
	.call_action_area {
		padding: 96px 0 95px 30px;
	}
	.counter_area3 .witr_single_counter {
		text-align: center;
	}
	.tuition_fees_faq_area {
		padding: 100px 40px;
	}
	

}
@media (min-width: 1024px) and (max-width: 1600px) {
    .em_slider_social {
        top: 45%;
    }
}
@media (min-width: 1170px) and (max-width: 1366px) {
    .em_creative_header:after {
        -webkit-transform: rotate(-114deg);
        transform: rotate(-114deg);
    }
    .creative_header_address {
        padding-left: 0;
    }
}
@media (min-width: 1365px) and (max-width: 1660px) {
    .poket-header-top,
    .poket_nav_area,
    .transprent-menu .poket_nav_area,
    .trp_nav_area {
        padding-right: 50px !important;
        padding-left: 50px !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
	.witr_ds_content {
		height: 840px;
	}
	.text-left .witr_ds_content_inner p {
		width: 49%;
	}
	.witr_containers {
		width: 90%;
	}
	.witr_swiper_area .text-left .witr_slider_thumb {
		right: -110px;
	}
	.witr_swiper_height {
		height: 650px;
		background-position: center left;
	}
	.text-left .witr_swiper_content p, .text-right .witr_swiper_content p {
		width: 55%;
	}
	.em_slider_s2_image img {
		width: 70%;
	}
	.witr_section_title_inner h1, .witr_section_title_inner h3 {
		font-size: 30px;
	}
	.slider_thumb_area {
		margin-top: 100px;
	}
	.banner_area {
		height:750px;
	}
	.banner-content {
		position: relative;
		top: 50%;
	}
    .poket-header-top,
    .poket_nav_area,
    .transprent-menu .poket_nav_area,
    .trp_nav_area {
        padding-right: 30px !important;
        padding-left: 30px !important;
    }
	 .witr_sw_text_area {
		width: 90%!important;
	}
	.witr_swiper_content h2, .witr_swiper_content h3 {
		font-size: 55px;
	}
    .hmenu_box_style .poket_menu > ul > li > a {
        margin-right: 15px;
    }
    .em_creative_header:before {
        width: 19%;
    }
    .em_creative_header:after {
        display: none;
    }
    .education_top_addess.top-address p {
        text-align: center !important;
    }
    .theme_education_logo {
        text-align: center;
        margin-bottom: 30px;
    }
    .d_lg_block {
        display: block;
    }
    .creative_header_address {
        padding-left: 0;
    }
    .em_creative_header:before {
        display: none;
    }
    .menu-height-space {
        height: 0;
    }
    .em_creative_header:after {
        -webkit-transform: rotate(-100deg);
        transform: rotate(-100deg);
    }
    .poket_menu > ul > li > a {
        font-size: 15px;
        margin-left: 4px;
        margin-right: 4px;
    }
    a.dtbtn {
        font-size: 15px;
    }
    .witr_h_h10 .poket_menu > ul > li > a,
    .witr_h_h11 .poket_menu > ul > li > a,
    .witr_h_h15 .poket_menu > ul > li > a,
    .witr_h_h16 .poket_menu > ul > li > a,
    .witr_h_h17 .poket_menu > ul > li > a,
    .witr_h_h8 .poket_menu > ul > li > a {
        margin-left: 6px;
        margin-right: 6px;
    }
	.education_modal_area .witr_section_title_inner h3 {
		font-size: 38px;
	}
	/* process area css */
	.event-page-title_adn a {
		font-size: 20px;
	}
	.education_process_area {
		margin: 0px 15px 0px 15px;
	}
	/* feature area css */
	.education_feature_area {
		margin: 100px 0 0;
	}
	.education_feature_area .sub-item h3 a {
		font-size: 22px;
	}
	.education_feature_bg_area {
		padding: 113px 0 40px;
	}
	.feature2_img_inner img {
		padding-left: 0;
		padding-right: 0;
	}
	 .feature2_content_inner .witr_section_title_inner h3 {
		font-size: 25px;
	}
	.feature2_content_inner {
		padding: 0;
		margin-left: -15px;
		margin-right: -50px;
	}
	.feature2_content_inner .witr_section_title_inner p {
		padding: 17px 22px 0 0;
	}
	.feature_bg_area {
		padding: 110px 0 100px;
	}
	.feature_inner {
		margin: 0;
	}
	.sub-item h3 {
		margin: 15px 115px 11px 0px;
	}
	/* project area css */
	.ps2.ps1 .witr_single_pslide:hover .witr_content_pslide_text {
		top: -40px;
	}
	.all_pslides_color h3 a, .all_pslides_color h3 {
		font-size: 22px;
	}
	/* about area css */
	.education_about_content_inner {
		padding: 0px 0px 0 10px;
	}
	.education_about_area .single_image {
		margin-left: 0;
	}
	.about_content_inner {
		padding: 0px 0px 0 0;
	}
	.witr_shape_item_inner {
		right: -370px;
		top: -315px;
	}
	.education_about_area .single_image {
		right: 20px;
	}
	.about_image_inner .single_image_area img {
		margin-left: 0;
		padding-left: 0;
	}
	.education_about_area .witr_shape_item_inner {
		top: -360px;
	}
	.about_content_inner .witr_section_title_inner h3 {
		font-size: 34px;
	}
	.ab_counter_inner .witr_counter_single {
		padding: 45px 15px 50px;
		margin: 0 -230px 0 0px;
	}
	.ab_counter_inner {
		margin-top: 0;
	}
	.about_content_inner .witr_text_widget_inner {
		margin-right: -15px;
	}
	.ab_service_inner {
		padding-right: 0;
	}
	.ab_service_inner .witr_s_flex {
		display: inherit;
	}
	.ab_service_inner .em-service-icon i {
		margin-bottom: 15px;
	}
	/* about area css */
	.education_about_image_inner .single_image img {
		margin-left: 0;
	}
	.education_about_content_inner {
		padding: 0px 0px 0 0;
	}
	.education_about_content_inner .headh1_style {
		padding-top: 0;
		padding-bottom: 0;
	}
	.about_list_image_inner {
		display: inherit;
	}
	.about_list_image_inner .single_image img {
		margin-right: 0;
		margin-top: 20px;
	}
	.education_about_area .single_image {
		margin-right: 0;
	}
	.about_image_inner .single_image {
		padding-left: 0;
	}
	.education_about_area .single_image img {
		margin-left: 0;
	}
	/* layout area css */
	.layout_content_inner {
		padding: 62px 0px 0 0px;
	}
	.layout_list_inner {
		padding-right: 15px;
	}
	.layout_image_inner .witr_shape_item_inner {
		top: 200px;
	}
	/* how to apply area css */
	.call_action_area2 .poket_button {
		text-align: center;
	}
	.call_action_area2 .poket_button, .call_action_area2 .mc4wp-form-fields button {
		margin: 5px 0px 5px 0px;
	}
	.call_action_area2 {
		padding: 105px 0px 104px 10px;
	}
	.apply_requirements_area {
		padding: 86px 0px 80px 0px;
	}
	.required_witr_content_inner {
		margin-left: 0;
	}
	/* call action area css */
	.poket_content h2, .poket_content h3 {
		font-size: 25px;
	}
	.call_inner {
		padding: 65px 15px 50px 3px;
		margin: 0;
	}
	.call_inner .witr_btn {
		padding: 16px 40px;
		margin-right: 0;
	}
	.call_action_inner {
		padding: 76px 25px 80px 25px;
		margin: 80px -10px 0 -10px;
	}
	/* choose area css */
	.education_choose_area .education_about_content_inner {
		padding: 0px 0px 0 0;
	}
	.education_choose_list_inner {
		display: inherit;
	}
	.education_choose_area .witr_widget_list {
		margin-bottom: 30px;
	}
	.education_choose_area  .witr_btn {
		margin-top: 10px;
	}
	.choose_area {
		margin: -400px 15px 0;
	}
	.about_img_inner {
		margin-right: 0;
	}
	.choose_image_inner .single_image {
		left: 0px;
	}
	.choose_image_inner .single_image img {
		max-width: 100%;
	}
	.choose_content_inner {
		padding: 0;
	}
	.choose_content_inner .witr_section_title_inner h3 {
		font-size: 35px;
	}
	/* tab area css */
	.witr_adv_tab_menu {
		margin: 0;
	}
	.tab-content {
		margin: 0;
	}
	.witr_taba_style1 .nav-tabs .nav-item {
		margin-bottom: 25px;
	}
	.witr_adv_tab_content {
		padding: 35px 0px 0;
	}
	.tab_content2_inner .sub-item.sub-item-8 {
		padding: 0;
	}
	/* skill area css */
	.skill_inner {
		margin: 0px 0px 0px -10px;
		padding: 0px 0px 0px 0px;
	}
	.skill_area .single_image {
		padding-left: 0;
		margin-bottom: 0;
	}
	.skill_content_inner {
		padding-left: 0;
	}
	.education_skill_area .single_image_area {
		margin-right: 0;
	}
	/* contact area css */
	.apartment_area {
		margin-left: 0;
		margin-right: 0;
	}
	.education_contact_area .single_image img {
		margin-left: 0;
	}
	.education_contact_area .headh1_style {
		font-size: 18px;
	}
	.education_contact_area .headh1_style::before {
		top: 30%;
	}
	.apartment_text h2 {
		font-size: 30px;
	}
    .witr_h_h9 .poket_menu > ul > li > a {
        margin-left: 2px;
        margin-right: 2px;
    }
    .witr_h_h20 .poket_menu > ul > li > a {
        margin-left: 6px;
        margin-right: 6px;
    }
	.footer-middle .recent-post-text h4 a {
		font-size: 15px;
	}
    .accordion-content {
        padding: 23px 25px;
    }
    .shortcode_content h2 {
        font-size: 30px !important;
    }
    .witr_wid_col .elementor-column.elementor-col-20,
    .witr_wid_col .elementor-column[data-col="20"] {
        width: 33.33% !important;
    }
    .widget .widget_media_image img {
        width: 100%;
    }
    .blog-left-side .blog-title > ul > li > a {
        margin-right: 8px;
    }
    .recent-post-text > h4 {
        margin-top: 15px;
        line-height: 1;
    }
    .footer-middle .recent-post-text > h4 {
        margin-top: -7px;
        line-height: 1;
    }
    .em-blog-content-area {
        padding: 22px 15px 7px;
    }
    .curosel-style .owl-nav div {
        left: -15px;
    }
    .curosel-style .owl-nav .owl-next {
        right: -15px;
    }
    .footer-bottom:before {
        width: 100%;
    }
	.recent-post-image img {
		width: 60px;
	}
	.mc4wp-form-fields input {
		font-size: 15px;
	}
    #scrollUp {
        bottom: 60px;
        right: 30px;
    }
	.witr_blog_con.bs5 h2 a {
		font-size: 22px;
	}
	.map_inner iframe {
		padding-right: 0;
	}
	.witr_blog_con.bs5 h2 a {
		font-size: 21px;
	}
	/* counter area css */
	.counter_area3 .witr_single_counter {
		text-align: center;
	}
	.counter_inner {
		padding-right: 0px;
	}
	.choose_counter_inner .witr_counter_single {
		margin: 0 50px 20px 100px;
	}
	.counter_margin_left {
		margin-left: 120px !important;
		margin-right: 30px !important;
	}
	/* service area css */
	.em-service-title h3 a{
		font-size:20px;
	}
	.education_service_area .singleSS {
		padding: 50px 20px 43px 20px;
	}
	.education_service_area .all_color_service h3, .education_service_area .all_color_service h3 a {
		font-size: 18px;
	}
	.service_area2 .em-service2 {
		padding: 36px 28px 17px;
	}
	/* faq area css */
	.faq_area .single_image img {
		max-width: 100%;
	}
	.faq_area .single_image {
		right: 10px;
	}
	.faq_content_inner {
		padding:0;
	}
	.education_faq_area .single_image img {
		margin-left: 0;
	}
	.faq_inner {
		padding: 0 10px 0px 0;
	}
	.education_faq_area .single_image {
		margin-left: 0;
	}
	.witr_ac_style:before {
		right: 10px;
	}
	.education_3d_area .witr_service_position {
		padding: 40px 15px 40px;
	}
	.tuition_fees_faq_area {
		padding: 100px 25px;
	}
	/* video area css */
	.video_content_inner {
		margin: 0px 15px 0 0;
		padding: 0 0 0 15px;
	}
	.education_video_area .em-service2 {
		padding: 70px 0 0 0px;
	}
	.education_video_area .em-service-desc p {
		padding: 0 5px 0 20px;
	}
	/* pricing area */
	.pricing-part ul {
		padding: 0 15px;
	}
	.call_inner .all_color_service {
		margin: 0;
	}
	.testimonial_inner {
		padding: 0 0px;
	}
	.em_single_testimonial {
		padding: 55px 38px 40px 30px;
	}
	/* project area css */
	.education_project_area .slick-prev, .education_project_area .slick-next {
		top: 330px;
	}
	.education_project_area .slick-next {
		right: 417px;
	}
	.education_project_area .slick-prev {
		left: 417px;
	}
	.portfolio_inner {
		padding: 0;
	}
	/* admision area css */
	.addmision_apply_witr_inner {
		margin-top: 10px;
		padding-left: 30px;
	}
	.addmision_fees_area .witr_section_title_inner p {
		width: 100%;
	}
	.tusion_fees_inner .all_list_color h3 a, .tusion_fees_inner .all_list_color h3 {
		font-size: 32px;
	}
	/* testimonial area css */
		.education_testimonial_area .slick-prev {
			left: 396px;
		}
	.education_testimonial_area .slick-next {
		right: 396px;
	}
	.testimonial_area2 .witr_section_title_inner.text-center p {
		width: 100%;
	}
	.pricing-part h4 {
		font-size: 26px;
	}


}
@media (min-width: 768px) and (max-width: 991px) {
	.witr_ds_content {
		margin: -50px;
		height: 575px;
	}
	.witr_containers {
		width: 80%;
		text-align: center;
	}
	.witr_ds_content_inner h2, .witr_ds_content_inner h3 {
		font-size: 48px;
	}
	.text-left .witr_ds_content_inner p {
		width: 100%;
	}
	.witr_swiper_area .text-left .witr_slider_thumb {
		display: none;
	}
	.text-left .witr_ds_content_inner h1, .text-left .witr_ds_content_inner h2, .text-left .witr_ds_content_inner h3, .text-left .witr_slicks_title h4 {
		width: 100%;
	}
	.banner-content h2, .banner-content h3 {
		font-size: 48px;
	}
    .all_header_abs {
        position: inherit;
    }
	.witr_swiper_height {
		height: 650px;
	}
	.witr_swiper_content {
		top: 50%;
		text-align: center;
	}
	.witr_swiper_area {
		margin-top: 64px;
	}
	.text-center .witr_swiper_content h1, .text-center .witr_swiper_content h2, .text-center .witr_swiper_content h3, .text-center .witr_swiper_content p, .text-left .witr_swiper_content h1, .text-left .witr_swiper_content h2, .text-left .witr_swiper_content h3, .text-left .witr_swiper_content p, .text-right .witr_swiper_content h1, .text-right .witr_swiper_content h2, .text-right .witr_swiper_content h3, .text-right .witr_swiper_content p {
		width: 90%!important;
		margin-left: auto;
		margin-right: auto;
		text-align: center!important;
	}
	.text-center .witr_swiper_content h2, .text-center .witr_swiper_content h3, .text-left .witr_swiper_content h2, .text-left .witr_swiper_content h3, .text-right .witr_swiper_content h2, .text-right .witr_swiper_content h3 {
		font-size: 40px;
	}
	.witr_section_title_inner h1, .witr_section_title_inner h3 {
		font-size: 28px;
	}
	.text-left .witr_btn_sinner, .text-right .witr_btn_sinner {
		text-align: center!important;
	}
	.witr_sw_text_area {
		width: 96%;
	}
    .all_header_abs .poket-header-top {
        background: #0049ff;
    }
    .poket-header-top {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .creative_header_address {
        padding-left: 10px;
    }
    .tutor-course-loop-title h2 a {
        font-size: 17px;
    }
    .top_crt_style {
        padding-bottom: 0;
    }
    .tx_top_together {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .creative_header_curve {
        display: none;
    }
    .creative_header_logo {
        padding-right: 0;
        text-align: center;
    }
    .em_creative_header {
        background: transparent none repeat scroll 0 0;
        z-index: 999;
    }
    .creative_header_button {
        padding-bottom: 30px;
        text-align: center;
    }
    .creative_header_button:before,
    .em_creative_header:after,
    .em_creative_header:before {
        display: none;
    }
    .em_creative_header {
        padding-bottom: 0;
    }
    .poket-accourdion-title h2 i {
        display: none;
    }
    .accordion-content {
        padding: 23px 0;
    }
    .poket-accourdion-title h2 {
        padding-left: 20px;
    }
    .digital-item ul li a {
        padding: 7px 57px;
    }
    .mobil-item {
        margin-top: 30px;
    }
    .download-demo {
        text-align: center;
    }
    .digital-img img,
    .witr_education_area .digital-content h3 {
        margin-top: 0 !important;
    }
    .shortcode_content h2 {
        font-size: 35px !important;
    }
	/* modal area css */
	.witr_modal_box:nth-child(2) {
		top: 30px;
		left: 420px;
	}
	.witr_modal_box:nth-child(5) {
		top: 250px;
		left: 360px;
	}
	.counter_5 .witr_counter_number_inn h4 {
		margin-top: 50px;
	}
	/* slider thumb area */
	.slider_thumb_area {
		margin-top: 100px;
		padding: 0 0 90px;
	}
	/* feature area css */
	.education_feature_area {
		margin: 150px 0 0;
	}
	.education_feature_area .service-item {
		padding: 40px 0px 16px;
	}
	.feature_border_lr {
		padding: 40px 6px 16px !important;
	}
	.education_feature_bg_area {
		padding: 102px 0 39px;
	}
	.feature2_img_inner img {
		padding-left: 0;
		padding-right: 0;
	}
	.feature2_content_inner {
		padding: 0;
	}
	.feature_bg_area {
		padding: 95px 0 80px;
		margin-top: 50px;
	}
	.feature_inner {
		margin: 0;
	}
	.sub-item h3 {
		margin: 15px 30px 11px 0px;
	}
	/* about area css */
	.education_about_image_inner .single_image img {
		margin-left: 0;
	}
	.education_about_content_inner {
		padding: 0px 0px 0 0;
	}
	.education_about_content_inner .headh1_style {
		padding-top: 0;
		padding-bottom: 0;
	}
	.about_list_image_inner {
		display: inherit;
	}
	.about_list_image_inner .single_image img {
		margin-right: 0;
		margin-top: 20px;
	}
	.education_about_area .single_image {
		margin-left: 0;
	}
	.about_content_inner {
		padding: 0;
	}
	.witr_shape_item_inner {
		right: -390px;
	}
	.education_about_area .single_image {
		margin-right: 0;
	}
	.about_image_inner .single_image {
		padding-left: 0;
	}
	.single_image {
		right: 0px;
	}
	.about_image_inner .single_image_area img {
		margin-left: 0;
	}
	.about_content_inner p {
		padding-right: 0;
	}
	.ab_witr_img_content {
		margin-left: 15px;
	}
	.about_content_inner .witr_text_widget_inner {
		margin-bottom: 10px;
	}
	.ab_bottom_contact_inner .em-service2 {
		padding: 30px 0 0;
		border: none;
	}
	.ab_service_inner {
		margin-right: -35px;
		padding-right: 0;
	}
	.ab_service_inner  .witr_s_flex {
		display: inherit;
	}
	.ab_service_inner .em-service-icon i {
		margin-bottom: 20px;
	}
	.education_about_area .single_image img {
		margin-left: 0;
	}
	.education_about_area .witr_section_title {
		margin-bottom: 25px;
	}
	/* layout area css */
	.layout_content_inner {
		padding: 62px 0px 0 0px;
	}
	.layout_list_inner {
		display: inherit;
		padding-right: 0px;
	}
	.layout_image_inner .witr_shape_item_inner {
		top: 105px;
	}
	.education_layout_area .witr_shape_image img {
		width: 45%;
	}
	/* how to apply area css */
	.education_apply_area .witr_section_title_inner h3 {
		font-size: 35px;
	}
	.apply_requirements_area {
		padding: 86px 0px 80px 0px;
	}
	.required_witr_content_inner {
		margin-left: 0;
	}
	/* case stydy details css */
	.departmentList ul li a i, .departmentList ul li span i {
		margin: 8px 0px 0px 0px;
	}
	.departmentList {
		padding: 73px 20px 65px;
	}
	/* tab area css */
	.tab_content2_inner .sub-item.sub-item-8 {
		padding: 0;
	}
	.tab_left_content_inner {
		margin-left: 0;
	}
	/* portfolio area css */
	.portfolio_nav ul li {
		padding: 10px 18px;
	}
	/* call action area css */
	.call_action_area {
		padding: 96px 0 150px;
	}
	.call_action_area .poket_content h2, .call_action_area .poket_content h3 {
		margin-bottom: 0;
	}
	.call_action_area .poket_button {
		text-align: center;
	}
	.call_action_inner {
		margin-left: -30px;
		margin-right: -29px;
	}
	.poket_content h2, .poket_content h3 {
		font-size: 26px;
		margin-bottom: 20px;
	}
	.poket_content h3 {
		font-size: 30px;
	}
	.cal_to_toggole {
		display: inherit;
	}
	.poket_button.no_margin.text-right {
		text-align: center !important;
		margin-top: 30px;
	}
	.poket_content.col_content_width_100.text-left {
		text-align: center !important;
	}
	.poket_button.no_margin {
		margin: 0 auto;
	}
	.call_inner {
		padding: 65px 10px 50px 10px;
		margin: 0;
		margin-left: -32px;
		margin-right: -32px;
	}
	.witr_s_flex {
		display: inherit;
	}
	.call_inner .em-service2 .em-service-icon i {
		margin-bottom: 10px;
	}
	.call_inner .witr_btn {
		padding: 16px 38px;
		margin-left: -40px;
		margin-right:0;
	}
	.poket_content {
		text-align: center !important;
	}
	/* alert area css */
	.alert-title {
		font-size: 25px;
	}
	/* instructor registration css */
	.tutor-form-group.tutor-reg-form-btn-wrap {
		text-align: left;
	}
	/* choose area css */
	.education_choose_area .education_about_content_inner {
		padding: 0;
		margin-left: -15px;
	}
	.education_choose_list_inner {
		display: inherit;
		padding-right: 0;
	}
	.education_choose_area .witr_widget_list {
		margin-bottom: 25px;
	}
	.education_choose_area .witr_btn {
		margin-bottom: 50px;
	}
	.choose_area {
		margin: -400px 0px 0;
	}
	.choose_area .witr_s_flex {
		display: inherit;
	}
	.choose_image_inner .single_image {
		left: -30px;
	}
	.choose_image_inner .single_image img {
		max-width: 110%;
	}
	.choose_image_inner .witr_shape_image.single_img_ani img {
		width: 35%;
	}
	.education_choose_area .single_img_ani img {
		width:40%;
	}
	.choose_content_inner {
		padding:0;
	}
	.choose_content_inner .witr_s_flex {
		display: inherit;
	}
	.choose_content_inner .em-service2 {
		padding: 0;
	}
	.choose_content_inner .all_icon_color i {
		margin-bottom: 20px;
	}
	/* tab area css */
	.witr_adv_tab_menu {
		margin: 0 -5px;
	}
	.tab-content {
		margin: 0px 0px 0px 10px;
	}
	.tab_content_inner {
		padding: 0;
	}
	.tab_image_inner .single_image {
		margin-left: 0;
		margin-top: 30px;
	}
	.nav-tabs {
		justify-content: center;
	}
	.tab_inner {
		padding: 0px 0px 30px 0px;
		margin-top: 0px;
		margin-left: -20px;
		margin-right: -20px;
	}
	.tab_inner2 .tab_content_inner {
		padding: 5px 0px 0px 0px;
		margin-left: 0px;
	}
	.witr_adv_tab_content {
		margin: 35px 0px 30px 0px;
	}
	.witr_adv_tab_content {
		margin: 35px 0px 30px 0px;
	}
	.witr_adv_tab_area {
		padding: 90px 0px 70px 0px;
	}
	.witr_taba_style1 .nav-tabs .nav-item {
		margin-bottom: 20px;
	}
	.tab_area2 .witr_adv_tab_content {
		padding:0;
	}
	/* process area css */
	.education_process_area {
		margin: 0px 0px 0px 0px;
	}
	.education_process_area .witr_button_area {
		margin: 20px 0 0;
	}
	.education_process_area .service-item {
		padding: 0px 10px 0px 10px;
		margin-bottom: 35px;
	}
	/* skill area css */
	.skill_inner {
		padding:0;
	}
	.skill_area .single_image {
		padding-left: 0;
		margin-right: 0;
		margin-bottom: 0;
	}
	.skill_content_inner {
		padding: 0;
	}
	.education_brand_area .slick-prev {
		left: -30px;
	}
	.education_brand_area .slick-next {
		right: -30px;
	}
	.education_skill_area .single_image_area {
		margin-right: 0;
	}
	/* admision area css */
	.aid_left_inner {
		margin-top: 40px;
	}
	.addmision_apply_witr_inner {
		margin-top: 10px;
		padding-left: 20px;
	}
	/* testimonial area css */
	.em_single_testimonial {
		padding: 60px 45px 25px 45px;
	}
	.em_testi_title h2 {
		font-size: 20px;
	}
	.testimonial_area .witr_section_title_inner.text-center p {
		width: 90%;
	}
	.testimonial_inner {
		padding: 0;
	}
	.testimonial_area .slick-prev {
		left: -30px;
	}
	.testimonial_area .slick-next {
		right: -30px;
	}
	.education_testimonial_area .slick-next {
		right: 275px;
	}
	.education_testimonial_area .slick-prev {
		left: 277px;
	}
	.education_testimonial_area .slick-prev, .education_testimonial_area .slick-next {
		top: 500px;
	}
	.testimonial_area2 .witr_section_title_inner.text-center p {
		width: 100%;
	}
	/* blog area css */
	.single_blog_thumb img {
		height: 260px;
	}
	.education-single-blog-details-inner {
		padding: 38px 30px 45px;
	}
	.education-single-icon-inner a {
		margin-bottom: 5px;
	}
	.comments-area {
		margin-left: -20px;
	}
	.single_blog.single_blog_grid.singles {
		margin-left: -20px;
	}
	.blog-left-side.widget {
		margin-right: -20px;
	}
	.witr_blog_con.bs5 h2 a {
		font-size: 22px;
	}
    .footer-item form label {
        margin-left: 30px;
    }
    .footer-bottom:before {
        width: 100%;
    }
    .blog-content span {
        font-size: 14px;
    }
    .blog-left-side .widget h2 {
        font-size: 19px;
    }
    .blog-page-title h2 {
        font-size: 18px;
    }
	.all_blog_color span, .all_blog_color span a, .witr_blog_meta_potion {
		padding: 8px 0 8px 0px;
	}
    .widget .widget_media_image img {
        width: 100%;
    }
    .blog-left-side .blog-title > ul > li > a {
        height: 30px;
        width: 30px;
        line-height: 29px;
        font-size: 15px;
        margin-right: 2px;
    }
    .recent-post-text > h4 {
        line-height: 23px;
    }
    .recent-post-text .rcomment,
    .recent-post-text h4 a {
        font-size: 18px;
    }
	.witr_top_category ul li a {
		margin: 137px 0 0;
	}
	/* contact area css */
	.witr_text_widget_inner h1, .witr_text_widget_inner h2 {
		font-size: 26px;
	}
	.education_contact_area .headh1_style {
		padding-top: 16px;
		font-size: 18px;
	}
	.apartment_text h2 {
		font-size: 25px;
	}
	.case_study_details_area .apartment_area {
		margin-right: 0;
		padding: 60px 20px 60px;
	}
	.witr_apartment_form form select, .witr_apartment_form form select, .witr_apartment_form input {
		padding: 0px 20px;
	}
	.witr_apartment_form input, .witr_apartment_form form select, .wpcf7-form-control-wrap textarea, .wpcf7-form-control-wrap a, .wpcf7-form-control-wrap input, .witr_apartment_form textarea {
		padding: 10px 0px 23px 15px;
	}
	.map_inner_area iframe {
		height: 600px;
	}
	.contact_inner {
		padding: 0 0px 0 0px;
	}
	.education_contact_area .single_image img {
		margin-left: 0;
	}
	.witr_apartment_form .btn {
		width: 75%;
	}
    .breadcumb-area {
        padding: 100px 0 !important;
    }
    .em-blog-content-area {
        padding: 15px 15px 10px;
    }
    .witr_blog_area10 .witr_blog_con {
        padding-top: 12px;
    }
    .portfolio-details-box {
        margin-left: 0;
    }
    .pimgs img {
        width: 100%;
    }
    .witr_btn {
        margin-top: 11px !important;
        margin-bottom: 15px;
    }
    .curosel-style .owl-nav div {
        left: -15px;
    }
    .curosel-style .owl-nav .owl-next {
        right: -15px;
    }
    .poket_event_thumb {
        float: none;
        margin-bottom: 15px;
    }
    .poket_single_event {
        margin: 0;
    }
    .poket_event_icon span {
        margin-right: 5px;
    }
    .blog_wrap .slick-prev,
    .testomonial-slide .slick-prev {
        left: 15px;
    }
    .blog_wrap .slick-next,
    .testomonial-slide .slick-next {
        right: 15px;
    }
    .recent-post-text {
        margin-top: 10px;
    }
    .em_slider_social {
        top: 41%;
        z-index: 999999;
        display: none;
    }
    #scrollUp {
        bottom: 60px;
        right: 30px;
    }
	/* counter area css */
	.witr_counter_6 .witr_counter_number_inn {
		overflow: inherit;
	}
	.witr_counter_6 .wirt_new_iner {
		padding: 25px 0px 25px;
		width:100%;
		margin-bottom:20px;
	}
	.wirt_counter_tiner {
		text-align: center;
	}
	.counter_inner {
		padding-right: 0;
		text-align: left;
	}
	.witr_counter_icon, .witr_custom_icon, .counter_icon, .witr_counter_icon4, .witr_counter_img {
		float: inherit;
		margin-bottom: 10px;
		margin-left:0;
	}
	.counter_area3 .witr_single_counter {
		text-align: center;
	}
	.choose_counter_inner .witr_counter_single {
		margin: 0 0px 20px 50px;
	}
	.counter_margin_left {
		margin-left: 50px !important;
	}
	.ab_counter_inner {
		margin-top: -5px;
	}
	.ab_counter_inner .witr_counter_single {
		margin: 0 10px 0 0px;
	}
	.about_image_inner .single_image img {
		padding-left: 0;
	}
	.education_counter_area {
		padding: 110px 0 80px 80px;
		background-repeat: repeat;
	}
	.witr_circle_area {
		margin-bottom: 30px;
	}
	.service_style2_countdown_area span.cdowns {
		width: 145px;
	}
	/* service area css */
	.em-service2 {
		padding: 60px 30px 43px;
	}
	/* project area css */
	.title_btn a {
		padding: 18px 30px;
	}
	.ps2.ps1 .witr_single_pslide:hover .witr_content_pslide_text {
		top: -30px;
	}
	.portfolio_inner {
		padding: 0;
	}
	/* faq area css */
	.faq_area .single_image img {
		max-width: 100%;
	}
	.faq_area .single_image {
		right: 0;
	}
	.faq_content_inner {
		padding:0;
	}
	.education_faq_area .single_image img {
		margin-left: 0;
	}
	.faq_inner {
		padding: 0;
	}
	.education_faq_area .single_image {
		margin-left: 0;
	}
	.witr_ac_style:before {
		right: 20px;
	}
	.tuition_fees_faq_area {
		padding: 100px 15px;
	}
	/* video area css */
	.video_content_inner {
		margin: 0px 0px 0 0;
		padding: 0 0 0 15px;
	}
	.education_video_area .witr_s_flex {
		display: inherit;
	}
	.education_video_area .em-service-title h3 {
		padding: 0;
	}
	.education_video_area .em-service-desc p {
		padding: 0;
	}
	.education_video_area .em-service2 {
		padding:0 0 0 10px;
	}
	.witr_videobg_image {
		margin-bottom: 70px;
	}
	.witr_all_color_v h3 {
		font-size: 30px;
	}
	/* team area css */
	.team_area4 {
		padding: 100px 0 80px;
	}
	.witr_team_section img {
		width: 100%;
	}
	.w_educations_button_image {
		margin-bottom: 20px;
	}
	.call_inner .all_color_service {
		padding: 0;
		margin: 0;
	}
	/* portfolio project area css */
	.witr_content_pslide_text a {
		font-size: 20px;
	}
	.witr_content_pslide_text, .witr_pslide5 .witr_single_pslide {
		padding: 25px 20px 20px;
	}
	.education_project_area {
		padding: 0;
	}
	
	
	
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
	.witr_ds_content {
		margin: -50px;
		height: 600px;
	}
	.witr_containers {
		width: 70%;
		text-align: center;
	}
	.text-left .witr_ds_content_inner h1, .text-left .witr_ds_content_inner h2, .text-left .witr_ds_content_inner h3, .text-left .witr_slicks_title h4 {
		width: 100%;
	}
	.text-left .witr_ds_content_inner h1, .text-left .witr_ds_content_inner h2, .text-left .witr_ds_content_inner h3, .text-left .witr_slicks_title h4 {
		margin: 11px auto 20px 0;
	}
	.witr_ds_content_inner h2, .witr_ds_content_inner h3 {
		font-size: 25px;
	}
	.text-left .witr_ds_content_inner p {
		width: 100%;
	}
	
	.witr_swiper_height {
		height: 600px;
		background-position: center left;
	}
	.witr_swiper_area {
		margin-top: 64px;
	}
	.witr_swiper_content {
		top: 50%;
	}
	.banner_area {
		height: 650px;
	}
	.banner-content {
		top: 50%;
	}
	.banner-content h2, .banner-content h3 {
		font-size: 22px;
	}
	.banner-content input {
		width: 100%;
		margin-bottom: 20px;
	}
	.banner-content button {
		width: 100%;
	}
	.banner-content form {
		display: inherit;
	}
	/* slider thumb css */
	.slider_thumb_area {
		margin-top: 75px;
	}
	.witr_swiper_content {
		text-align: center;
	}
	.education .witr_swiper_height {
		height: 650px;
		background-position: center left;
	}
	.swiper-button-next, .swiper-button-prev {
		display:none;
	}
	.text-center .witr_swiper_content h1, .text-center .witr_swiper_content h2, .text-center .witr_swiper_content h3, .text-center .witr_swiper_content p, .text-left .witr_swiper_content h1, .text-left .witr_swiper_content h2, .text-left .witr_swiper_content h3, .text-left .witr_swiper_content p, .text-right .witr_swiper_content h1, .text-right .witr_swiper_content h2, .text-right .witr_swiper_content h3, .text-right .witr_swiper_content p {
		width: 100%!important;
		margin-left: auto;
		margin-right: auto;
		text-align: center!important;
	}
	.text-center .witr_swiper_content h2, .text-center .witr_swiper_content h3, .text-left .witr_swiper_content h2, .text-left .witr_swiper_content h3, .text-right .witr_swiper_content h2, .text-right .witr_swiper_content h3 {
		font-size: 25px;
	}
	.text-left .witr_btn_sinner, .text-right .witr_btn_sinner {
		text-align: center!important;
	}
	.text-left .witr_swiper_content p {
		font-size: 17px;
	}
	.witr_sw_text_area {
		width: 96%;
	}
    .all_header_abs {
        position: inherit;
    }
	.testimonial_area2 .witr_section_title_inner.text-center p {
		width: 100%;
	}
	.witr_section_title_inner h1, .witr_section_title_inner h3 {
		font-size: 22px;
		line-height: 30px;
	}
	.witr_section_title_inner h2 {
		margin-bottom: 4px;
		font-size: 15px;
	}
    .single_header_address {
        padding: 0;
        padding-bottom: 25px;
    }
    .creative_header_address {
        padding-left: 0;
    }
    .education_top_addess.top-address p {
        text-align: center !important;
    }
    .breadcumb-area {
        padding: 100px 0 !important;
    }
    .brpt h2 {
        font-size: 30px;
    }
    .tutor-course-archive-filters-wrap {
        margin-top: 25px;
    }
	.slider_btn {
		margin-top: 40px;
	}
    .top-address p a,
    .top-address p span,
    .top-right-menu ul.social-icons li a {
        font-size: 13px;
    }
    .social-icons {
        text-align: center;
    }
    .footer-top-inner p {
        width: 100%;
    }
    .footer-menu ul {
        margin: 10px 0 0;
        text-align: center !important;
    }
    .footer-menu ul li a {
        font-size: 14px;
    }
    .copy-right-text p {
        text-align: center;
    }
    .footer-bottom:before {
        width: 100%;
    }
	/* modal area css */
	.modal_inner {
		padding: 220px 0;
	}
	.witr_modal_box:nth-child(1) {
		left: 100px;
	}
	.witr_modal_box:nth-child(2) {
		top: 100px;
		left: 100px;
	}
	.witr_modal_box:nth-child(3) {
		top: 160px;
		left: 100px;
	}
	.witr_modal_box:nth-child(4) {
		top: 220px;
		left: 100px;
	}
	.witr_modal_box:nth-child(5) {
		top: 270px;
		left: 70px;
	}
	/* image box css */
	.image_box_area .witr_section_title_inner.text-center p {
		width: 100%;
	}
	/* instruction registration css */
	.tutor-form-group.tutor-reg-form-btn-wrap {
		text-align: left;
	}
	/* feature area css */
	.education_feature_area {
		margin: 0;
		padding: 100px 0 100px;
	}
	.sub-border-2 .sub-item span {
		right: 6%;
	}
	.testiCreCon {
		padding: 50px 22px 50px;
	}
	.education_feature_area .service-item {
		padding: 40px 0px 16px;
	}
	.feature_border_lr {
		padding: 40px 10px 16px !important;
	}
	.education_feature_area .witr_btn {
		padding: 18px 35px;
	}
	.skill_area .single_image {
		padding-left: 0;
		margin-right: 0;
		margin-bottom: 0;
	}
	.education_feature_bg_area {
		padding: 113px 0 45px;
	}
	.feature2_img_inner img {
		padding-left: 0;
		padding-right: 0;
	}
	.feature_bg_area .witr_section_title {
		margin-bottom: 30px;
	}
	.feature_bg_area {
		padding: 120px 0 120px;
	}
	.feature_inner {
		margin: 0;
	}
	.sub-item h3 {
		margin: 15px 0px 11px 0px;
	}
	.sub-item h3 a{
		font-size:20px;
	}
	.feature_inner_box, .witr_feature_12.sub-item, .all_feature_color {
		padding: 28px 0px 30px 30px;
	}
	.feature_area2 .sub-item.sub-item-8 {
		padding: 50px 20px 34px 20px;
	}
	/* about area css */
	.education_about_area {
		padding: 0px 0 0px;
	}
	.education_about_area.choose_page_about_area {
		padding: 100px 0 0px;
	}
	.education_about_image_inner .single_image img {
		margin-left: 0;
	}
	.education_about_content_inner {
		padding: 10px 0px 0 0;
	}
	.about_list_image_inner {
		display: inherit;
	}
	.about_list_image_inner .single_image img {
		margin-right: 0;
		margin-top: 20px;
		width: 85%;
	}
	.education_about_area .witr_shape_item {
		display: none;
	}
	.education_about_area .single_image {
		margin-left: 0px;
	}
	.about_content_inner {
		padding:0px 0px 50px 0;
	}
	.about_image_inner .single_image {
		padding-left: 0;
	}
	.education_about_area .single_image {
		right: 0;
	}
	.education_about_area .single_image img {
		width: 100%;
		padding: 0;
	}
	.about_image_inner .single_image_area img {
		margin-left: 0;
		margin-bottom: 30px;
	}
	.about_content_inner p {
		padding-right: 0;
	}
	.ab_witr_img_content {
		margin-left: 15px;
	}
	.ab_bottom_contact_inner .em-service-icon i {
		margin-bottom: 20px;
	}
	.witr_shape_item_inner {
		top: -375px;
		right: -390px;
	}
	.education_about_area .single_image img {
		margin-left: 0;
	}
	/* layout area css */
	.layout_content_inner {
		padding: 62px 0px 0 0px;
	}
	.layout_list_inner {
		display: inherit;
		padding-right: 0;
	}
	.layout_content_inner .witr_button_area {
		margin-top: 30px;
	}
	.layout_image_inner .witr_shape_item_inner {
		top: 40px;
	}
	/* call action area css */
	.call_action_area .poket_content h2, .call_action_area .poket_content h3 {
		font-size: 25px;
	}
	.call_action_area .poket_button a {
		margin-bottom: 30px;
	}
	.call_action_inner {
		margin-left: 0;
		margin-right: 0;
	}
	.poket_content h2, .poket_content h3 {
		font-size: 22px;
		text-align: center;
	}
	.poket_content h3 {
		font-size: 22px;
	}
	.cal_to_toggole {
		display: inherit;
		justify-content: center;
		padding: 30px 0px 35px 6px;
	}
	.witr_all_color_v h3 {
		font-size: 24px;
	}
	.call_inner {
		padding: 100px 0px 90px 0px;
		margin-left: -15px;
		margin-right: -15px;
	}
	.call_inner .em-service2 .em-service-icon i {
		margin-bottom: 20px;
	}
	.call_action_inner {
		padding: 76px 20px 80px 20px;
		margin: 45px 0 0 0;
	}
	.poket_content h5 {
		text-align: center;
	}
	.poket_button, .mc4wp-form-fields button {
		margin: 20px 0px 0px 0px;
	}
	.mc4wp-form-fields button {
		width: 100%;
		position: inherit;
		padding: 22px 30px;
	}
	/* alert area css */
	.alert-title {
		font-size: 20px;
	}
	.case_study_details_left .service-item {
		padding: 0;
	}
	.case_details_video_area .video-open-inline iframe {
		height: 500px;
	}
	/* how to apply area css */
	.education_apply_area .witr_section_title_inner h3 {
		font-size: 35px;
	}
	.apply_requirements_area {
		padding: 86px 0px 80px 0px;
	}
	.required_witr_content_inner {
		margin-left: 0;
	}
	/* service area css */
	.service_inner {
		margin: 150px 0 50px 0;
	}
	.em-service-title h3 {
		padding: 0;
	}
	.education_service_area .witr_s_flex {
		display: inherit;
	}
	.service-item h3 a {
		font-size: 18px;
	}
	.service-item {
		padding: 45px 24px;
	}
	.service_area2 .witr_s_flex {
		display: inherit;
	}
	.service_area2 .text_box img {
		margin-bottom: 20px;
	}
	.call_inner .all_color_service {
		padding: 0 0px;
		margin: 0 0 0 0px;
	}
	.call_inner .witr_s_flex {
		display: inherit;
	}
	.ab_service_inner {
		display: inherit;
	}
	.ab_service_inner .em-service-icon i {
		margin-bottom: 15px;
	}
	/* education download area */
	.education_download_area {
		background-position: center left;
	}
	.education_download_inner {
		padding-right: 0;
	}
	.w_educations_button_image {
		margin-bottom: 30px;
	}
	/* choose area css */
	.education_choose_area {
		padding: 100px 0 80px;
	}
	.education_choose_area .education_about_content_inner {
		padding: 0;
	}
	.education_choose_list_inner {
		display: inherit;
		padding-right: 0;
	}
	.education_choose_area .witr_widget_list {
		margin-bottom: 25px;
	}
	.education_choose_area .witr_btn {
		margin-bottom: 50px;
	}
	.choose_area {
		margin: -330px 0px 0;
	}
	.choose_area .witr_s_flex {
		display: inherit;
	}
	.about_img_inner {
		margin-right: 0;
	}
	.choose_image_inner .single_image {
		left: 0;
	}
	.choose_image_inner .single_image img {
		max-width: 100%;
	}
	.choose_content_inner {
		padding: 0px 0px 30px 0px;
	}
	.education_choose_area .single_img_ani img {
		width: 40%;
	}
	.education_choose_area .witr_shape_item_inner {
		top: 55px;
		left: 35px;
	}
	.education_choose_area .witr_s_flex {
		display: inherit;
	}
	.education_choose_area .all_icon_color i {
		margin-bottom: 20px;
	}
	.choose_counter_inner .witr_counter_single {
		margin: 0 0px 20px 0px;
		padding: 20px 20px 30px 34px;
	}
	.counter_margin_left {
		margin-left: 0 !important;
	}
	.choose_counter_inner .all_counter_color i, .choose_counter_inner .witr_counter_img {
		margin: 15px 20px 15px 0;
	}
	/* tab area css */
	.tab_left_content_inner {
		margin-left: 0;
	}
	.tab_area2 .witr_adv_tab_content {
		padding: 35px 0px 20px 0;
	}
	.tab_content_inner .witr_section_title_inner h2 {
		font-size: 18px;
	}
	.witr_adv_tab_menu {
		margin: 0px 0px 0px 0px;
	}
	.witr_adv_tab_menu {
		padding: 20px 0 0px;
	}
	.witr_taba_style1 .nav-tabs .nav-link {
		margin-right: 20px;
	}
	.tab-content {
		margin: 0px 0px 0px 10px;
	}
	.tab_content_inner {
		padding: 0;
	}
	.tab_image_inner .single_image {
		margin-left: 0;
		margin-top: 30px;
	}
	.tab_inner2 .tab_content_inner {
		padding: 0px 0px 0px 0px;
		margin-left: 0px;
	}
	.tab_inner {
		padding: 20px 0px 30px 0px;
	}
	.witr_adv_tab_content {
		margin: 0 0px 0 0px;
		padding: 35px 0px 0;
	}
	.tab_content2_inner .sub-item.sub-item-8 {
		padding: 0px 10px 10px 10px;
	}
	.tab_area .witr_videobg_image {
		height: 200px;
	}
	.delivery_tab_area .service-item {
		padding: 0;
	}
	.delivery_tab_area .single_image {
		margin-top: 20px;
	}
	.witr_taba_style1 .nav-tabs .nav-item {
		margin-bottom: 25px;
	}
	.nav-tabs {
		justify-content: center;
	}
	.tab_witr_bg {
		height: 375px;
	}
	/* case stydy details css */
	.case_study_details_area .text_box {
		padding: 10px 20px 31px 20px;
	}
	.case_study_details_area .service-item h3, .case_study_details_area .service-item h3 a {
		font-size: 22px;
	}
	/* admision area css */
	.addmision_apply_witr_inner {
		padding-left: 0;
	}
	.tusion_fees_inner .all_list_color h3 a, .tusion_fees_inner .all_list_color h3 {
		font-size: 30px;
	}
	/* skill area css */
	.skill_inner {
		padding: 50px 0px 0px 0px;
	}
	.education_skill_area {
		background-position: center left;
	}
	.skill_content_inner {
		padding-left: 0;
		padding-right: 10px;
		margin-bottom: 50px;
	}
	.education_skill_area .single_image_area {
		margin-right: 0;
	}
	/* testimonial area css */
	.em_single_testimonial {
		padding: 60px 20px 25px 20px;
	}
	.em_testi_title h2 {
		font-size: 20px;
	}
	.poket_button.no_margin.text-right {
		text-align: center !important;
		margin-top: 30px;
	}
	.poket_button.no_margin {
		width: 80%;
		margin: 0 auto;
	}
	.testimonial_area .witr_section_title_inner.text-center p {
		width: 100%;
	}
	.testimonial_inner {
		margin: 0 -15px;
		padding: 0;
	}
	.witr_testi_itemt {
		padding: 0 8px;
	}
	.education_testimonial_area {
		padding: 95px 0 80px;
	}
	/* blog area css */
	.single_blog_thumb img {
		height: 260px;
	}
	.education-single-blog-details-inner {
		padding: 38px 30px 45px;
	}
	.education-single-icon-inner a {
		margin-bottom: 5px;
	}
	.witr_blog_con h2 {
		margin: 15px 0 0;
	}
    .breadcumb-blog-area {
        padding: 50px 0;
    }
    .em-blog-content-area {
        padding: 20px 10px 5px;
    }
    .poket-blog-meta-left a,
    .poket-blog-meta-left span {
        font-size: 11px;
        margin-right: 3px;
    }
    .poket-blog-meta-right a,
    .poket-blog-meta-right span {
        font-size: 11px;
        margin-left: 3px;
    }
    .witr_ablog_content h2 a {
        font-size: 18px;
    }
    .blog-content ul,
    .post_reply ul,
    .single-blog-content ul {
        padding-left: 20px;
    }
    .blog-content ol,
    .post_reply ol,
    .single-blog-content ol {
        padding-left: 20px;
    }
    .comments-area .children {
        margin-left: 10px;
    }
    .comment_field .input-field {
        width: 100%;
    }
    .pdsr {
        padding-top: 50px;
    }
    .pdsl {
        padding-bottom: 90px;
    }
    #wp-calendar {
        display: block;
    }
    .copy-right-text p {
        font-size: 11px;
    }
    .footer-social-icon a i {
        font-size: 16px;
        height: 35px;
        line-height: 35px;
        width: 35px;
    }
    .creative_header_curve {
        display: none;
    }
    .creative_header_logo {
        padding-right: 0;
        text-align: center;
    }
    .em_creative_header {
        background: transparent none repeat scroll 0 0;
        z-index: 999;
    }
    .single_header_address {
        text-align: center;
    }
    .creative_header_button {
        padding-bottom: 30px;
        position: relative;
        text-align: center;
    }
    .creative_header_icon {
        float: none;
        margin-bottom: 10px;
        margin-right: 0;
        overflow: hidden;
    }
    .creative_header_address .col-sm-4.col-xs-12 {
        padding-left: 0;
    }
    .creative_header_logo {
        display: none;
    }
    .creative_header_button:before,
    .em_creative_header:after,
    .em_creative_header:before {
        display: none;
    }
	.title_btn.text-right {
		text-align: center !important;
		margin-top: 30px;
	}
	.education_blog_area .witr_section_title_inner h3 {
		font-size: 20px;
	}
	.witr_ablog_content {
		bottom: -15px;
	}
	/* contact area css */
	.witr_text_widget_inner h1, .witr_text_widget_inner h2 {
		font-size: 18px;
	}
	.education_contact_area .headh1_style {
		 padding-bottom:0;
	}
	 .education_contact_area .witr_text_widget_inner h2 {
		margin-top: 15px;
	}
	.education_contact_area .witr_text_widget_inner h2 {
		font-size: 23px;
	}
	.education_contact_area .em-service-desc p {
		font-size: 18px;
	}
	.apartment_area {
		margin-left: 0;
		margin-right: 0;
		margin-top: 30px;
	}
	.apartment_text h2 {
		font-size: 25px;
	}
	.contact_inner {
		padding: 0 10px 0 10px;
	}
	.map_inner_area iframe {
		margin-left: 0;
	}
    .copy-right-text p {
        font-size: 15px;
    }
    .poket-blog-thumb img {
        width: 100%;
    }
    .digital-item ul li a {
        padding: 7px 27px;
    }
    .mobil-item {
        margin-top: 30px;
    }
	.witr_btn {
		margin-right: 0;
	}
    .poket-accourdion-title h2 {
        font-size: 14px;
        padding-left: 20px;
    }
    .blog-img img {
        width: 100%;
    }
    .witr_blog_con h2 {
        font-size: 21px;
    }
    .witr_post_Author {
        margin: 0 10px;
    }
    .recent-post-image {
        float: none;
    }
    .video-play-6 {
        width: 80%;
    }
    .subscribe form input {
        width: 500px;
    }
    .download-content-6 ul li a {
        padding: 12px 46px 12px 80px;
    }
    .donwload-overlay {
        padding-top: 215px;
    }
    .digital-img {
        margin-top: 100px;
    }
    .tab_content.text-left {
        text-align: center !important;
    }
    .footer-middle {
        text-align: center;
    }
    .blog-content h5 > a {
        font-size: 17px;
    }
    .blog-content span {
        font-size: 12px;
    }
    .blog-page-title h2 {
        font-size: 17px;
    }
    .wblog-content h5 > a {
        font-size: 20px;
    }
    .wblog-content span {
        margin-right: 5px;
    }
    .blog-left-side .blog-title > ul > li > a {
        margin-right: 8px;
    }
    .widget .widget_media_image img {
        width: 100%;
    }
    .recent-post-text > h4 {
        margin-top: 2px;
        line-height: 1;
    }
    .recent-post-text h4 a {
        font-size: 14px;
    }
    .witr_blog_con6 h2 a {
        font-size: 19px;
    }
    .witr_blog_con6 h5 a {
        font-size: 15px;
    }
    .witr_blog_area8 .witr_blog_con6 p {
        display: none;
    }
    .witr_shortcode_inner {
        padding: 73px 15px 63px !important;
    }
    .shortcode_content h2 {
        font-size: 27px !important;
    }
	/* portfolio area css */
    .portfolio-details-box {
        margin-left: 0;
    }
    .portfolio-details-box ul li span.eright {
        font-size: 15px;
        margin-left: 0;
    }
    .portfolio-details-box ul li b {
        font-size: 15px;
    }
    .portfolio-details-box h2 {
        padding-top: 20px;
    }
    .portfolio-details-box .poket-single-icon-inner a {
        margin: 0 4px;
    }
	.ps1 .witr_content_pslide_text h3 a{
		font-size: 22px;
	}
	.portfolio_inner {
		padding: 0;
	}
    #sb_instagram .sbi_photo_wrap {
        margin-bottom: 25px;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li a {
        padding: 0.5em 6px;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li {
        padding: 0 0.5em;
        margin-right: 6px;
    }
    .poket-header-top {
        display: none;
    }
    .footer-sociala-icon {
        float: none;
    }
    .footer-sociala-info p {
        text-align: center;
    }
    .em_slider_social {
        top: 40%;
        display: none;
    }
    #scrollUp {
        bottom: 92px;
        right: 30px;
    }
    .slick-next,
    .slick-prev {
        display: none !important;
    }
    .owl-nav,
    .slick-next,
    .slick-prev {
        display: none;
    }
    .blog_wrap .slick-prev,
    .testomonial-slide .slick-prev {
        left: 15px;
    }
    .blog_wrap .slick-next,
    .testomonial-slide .slick-next {
        right: 15px;
    }
    .woocommerce div.product form.cart .button {
        font-size: 13px;
    }
    .product_tl_nav ul li {
        margin: 0 3px 10px;
        padding: 7px 18px;
        font-size: 16px;
    }
	/* counter css */
	.witr_counter_6 .witr_counter_number_inn {
		overflow: inherit;
	}
	.witr_counter_6 .wirt_new_iner {
		padding: 25px 0px 25px;
		width:100%;
		margin-bottom:20px;
	}
	.counter_area3 .witr_single_counter {
		text-align: center;
	}
	.counter_inner {
		padding-right: 0px;
	}
	.witr_counter_icon, .witr_custom_icon, .counter_icon, .witr_counter_icon4, .witr_counter_img {
		float: none;
		margin-bottom: 10px;
	}
	.witr_counter_single {
		text-align: center;
	}
	.ab_counter_inner .witr_counter_single {
		margin: 0 20px 0 20px;
	}
	.ab_counter_inner {
		margin-top: 0;
	}
	.education_counter_area {
		background-repeat: repeat;
	}
	.witr_circle_area {
		margin-bottom: 30px;
	}
	.countdown_area .witr_section_title_inner.text-center p {
		width: 100%;
	}
	.countdown_area2 .witr_section_title_inner.text-center p {
		width: 100%;
	}
	.service_style2_countdown_area span.cdowns:after {
		background: transparent;
	}
	.service_style2_countdown_area span.cdowns:before {
		background: transparent;
	}
	/* contact area css */
	.witr_apartment_form .btn {
		width: 100%;
	}
	.map_inner iframe {
		padding-right: 30px;
		margin-left: 15px;
	}
	.education_contact_area .single_image img {
		margin-left: 0;
		margin-bottom: 30px;
	}
	/* faq area css */
	.faq_area2 .accordion_area .card-2 p {
		padding: 14px 15px 10px 15px;
	}
	.faq_area {
		padding: 0px 0 0px;
	}
	.accordion_area {
		margin-bottom: 50px;
	}
	.faq_area .single_image img {
		max-width: 100%;
	}
	.faq_area .single_image {
		right: 0;
	}
	.faq_content_inner {
		padding: 60px 0 0 0px;
	}
	.education_faq_area .single_image img {
		margin-left: 0;
	}
	.faq_inner {
		padding: 0 15px 0 15px;
	}
	.education_faq_area .single_image {
		margin-bottom: 0;
		margin-left: 0;
	}
	.education_faq_area {
		padding: 120px 0 0px;
	}
	.education_faq_area .witr_section_title {
		margin-bottom: 40px;
	}
	.tuition_fees_faq_area {
		padding: 100px 0px 0;
	}
	/* video area css */
	.video_content_inner {
		margin: 0px 10px 0px 0;
		padding: 0 0 0px 20px;
	}
	.education_video_area .single_image {
		margin-top: 30px;
	}
	.education_apply_area .witr_s_flex {
		display: inherit;
	}
	.education_video_area .em-service-title h3 {
		padding: 0;
	}
	.education_video_area .em-service-desc p {
		padding: 0;
	}
	.education_video_area .em-service2 {
		padding: 20px 0 0 0px;
	}
	/* project area css */
	.witr_content_pslide_text, .witr_pslide5 .witr_single_pslide {
		padding: 25px 13px 20px;
	}
	.ps1 .witr_content_pslide_text h3 a {
		font-size: 18px;
	}
	.witr_pslide_custom {
		right: 35px;
	}
	.education_project_area {
		padding: 0;
	}
	/* process area css */
	.education_process_area {
		margin: 0px 0 0px 0px;
	}
	.witr_btn {
		padding: 15px 35px;
		margin-bottom: 20px;
	}
	.education_process_area .witr_button_area {
		margin: 25px auto 0;
	}
	/* pricing plan css */
	.pricing-part h4 {
		font-size: 22px;
	}
	.pricing-part h5 {
		font-size: 25px;
	}
	.pricing_style_6 .witr_pricing_icon {
		top: -40px;
		left: 25px;
	}
	/* team area css */
	.team_area4 {
		padding: 100px 0 80px;
	}
	
	
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .blog-part {
        text-align: center;
    }
    .poket-header-top {
        display: block;
    }
}
@media (min-width: 10px) and (max-width: 991px) {
    .mobile-menu {
        display: block !important;
        height: auto;
    }
    .mobile_logo_area {
        display: block !important;
    }
    .poket-main-menu {
        display: none !important;
    }
    .d_md_none {
        display: none !important;
    }
    .main_menu_pop_area.witr_h_h23 {
        display: none;
    }
}
@media (min-width: 10px) and (max-width: 991px) {
    .text_m_center {
        text-align: center !important;
    }
    .text_m_right {
        text-align: right !important;
    }
    .text_m_left {
        text-align: right !important;
    }
    .menu_18.top-address p span {
        font-size: 13px;
    }
    .footer-top-inner p {
        width: 85%;
    }
}
@media (min-width: 10px) and (max-width: 768px) {
    .ps_absulate {
        position: inherit !important;
    }
    .psc_absolute {
        position: inherit !important;
    }
}
@media (min-width: 570px) and (max-width: 767px) {
    .text_s_center {
        text-align: center !important;
    }
    .text_s_right {
        text-align: right !important;
    }
    .text_s_left {
        text-align: right !important;
    }
    .footer-top-inner p {
        width: 95%;
    }
}
@media (min-width: 10px) and (max-width: 570px) {
    .poket-header-top {
        display: none;
    }
}
